.App {
  height: 100vh;
  background-color: #fafafa;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.quiz__heading {
  font-size: 3.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
  animation: 1s ease-out 0s 1 animateHeading;
}

.btn--next {
  margin-top: 2rem;
}

.quiz__score {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 1em;
}

@keyframes animateHeading {
  0% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
  }
}
